body {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "section";
        background: rgb(49, 147, 100, 0.5);
    font-family: Graphik,Helvetica Neue,Helvetica,Arial,sans-serif;    
    overflow: auto;
}
a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

/* aqui empieza el header */

header {
    grid-area: header;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.logo{
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.img-nav {
    width: 30px;
    height: 30px;
    margin: 15px;
    cursor: pointer;
}

.show {
    display: flex;
    flex-direction: column;
    width: 17.5rem;
    transition: width 0.3s ease;
}

nav {
    height: 100vh;
    width: 0;
    right: 0;
    position: absolute;
    background-color: #f4f4f4;
    transition: width 0.3s ease;
    overflow: auto;
}

.nav-sup {
    display: flex;
    justify-content: space-between;
    background-color: #054C2A;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-sup div {
    display: flex;
}

.nav-sup div p {
    color: #f4f4f4;
    font-weight: bold;
    padding-top: 5px;
}

.nav-bot {
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    
}
.nav-bot ul {
    margin: 0;
    padding: 0 1rem 0 1rem;
}

.nav-bot ul li {
    padding: 1rem 0 1rem 0;
}

/* aqui empieza el main */
main {
    grid-area: main;
    padding-top: 60px;
    height: 300vh;
}

.front {
    height: 100vh;
}
    .front-title {
        position: fixed;
        z-index: -2;
        transition: transform 0.5s ease;
    }
    .front-title h1 {
        display: flex;
        flex-direction: column;
        font-size: 4rem;
        padding: 10px;
        color: #f4f4f4;
    }
    .front-about {
        position: relative;
        top: 80vh;
    }
    .front-about a {
        color: #f4f4f4;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 30px;
        padding: 10px 20px;
        margin-left: 10px;
        font-weight: 800;
        opacity: 1;
        transition: visibility 0s, 0.5s linear;
    }

.opacity {
    opacity: 40%;
    transition: opacity 0.5s ease;
}

.no-display {
    opacity: 0;
    transition: visibility 0s, 0.5s linear;
}

/* aqui comienza el slide del main */
.slide {
    height: 200vh;
    display: grid;
    grid-template-rows: repeat(40, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    overflow: hidden;
}
    .imgA {
        grid-area: 2 / 2 / 7 / 9;
    }

    .imgB {
        grid-area: 5 / 4 / 12 / 10;
        display: flex;
        flex-direction: row;
    }

    .imgC  {
        grid-area: 14 / 2 / 20 / 7;

    }

    .imgD {
        grid-area: 19 / 3 / 27 / 10;
        padding-top: 10px;
    }

    .imgE {
        grid-area: 29 / 2 / 35 / 9;
    }

    .imgF {
        grid-area: 34 / 4 / 39 / 10;
        padding-top: 10px;
    }

.imgNormalize {
    width: 100%;
}
.imgNormalize img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.palabraA {
    grid-area: 1 / 2 / 1 / 9;
    display: flex;
    transition: transform 0.5s ease;
}
.palabraA h2 {
    margin: 15px;
}
.palabraB {
    grid-area: 6 / 1 / 11 / 5;
    display: flex;
    transition: transform 0.5s ease;
    align-items: flex-end;
}
.palabraB h2 {
    transform: rotate(270deg);
}

.palabraC {
    grid-area: 15 / 6 / 18 / 9;
    display: flex;
    transition: transform 0.5s ease;
}
.palabraC h2 {
    transform: rotate(90deg);
}

.palabraD {
    grid-area: 27 / 4 / 27 / 9;
    display: flex;
    transition: transform 0.5s ease;
}
.palabraD h2 {
    margin: 15px;
}
.palabraE {
    grid-area: 31 / 9 / 31 / 11;
    display: flex;
    transition: transform 0.5s ease;
}
.palabraE h2 {
    transform: rotate(90deg);
}

.palabraF {
    grid-area: 35 / 3 / 39 / 5;
    display: flex;
    transition: transform 0.5s ease;
}
.palabraF h2 {
    transform: rotate(270deg);
}
.palabraNormalize {
    font-size: 1.8em;
    color: #f4f4f4;
}
.palabraInicialize {
    transform: translateX(-200%);
    transition: transform 0.5s ease;
}
.palabraInicializeReverse {
    transform: translateX(200%);
    transition: transform 0.5s ease;
}

/* aqui empieza el aside */
aside {
    grid-area: aside;
    height: 100vh;
    background-color: bisque;
}
section{
    grid-area: section;
    height: 100vh;
    background-color: #156EA7;
}

/* arrow feature */
.front-arrow {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}

    .arrow {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: rotate(0deg);
        cursor: pointer;
    }

    .arrow span {
        display: block;
        width: 1.5vw;
        height: 1.5vw;
        border-bottom: 5px solid white;
        border-right: 5px solid white;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }

    .arrow span:nth-child(2) {
        animation-delay: -0.2s;
    }

    .arrow span:nth-child(3) {
        animation-delay: -0.4s;
    }

    @keyframes animate {
        0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);
        }
    }

.hide {
    display: none;
}