body {
    margin: 0;
    height: 100%;
    font-family: Graphik,Helvetica Neue,Helvetica,Arial,sans-serif;
}
a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

/* aqui empieza el header */  
header {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
    .logo{
        margin-top: 10px;
        margin-left: 10px;
        width: 50px;
        height: 50px;
    }

    .img-nav {
        width: 30px;
        height: 30px;
        margin: 15px;
        cursor: pointer;
    }

    .show {
        display: flex;
        flex-direction: column;
        width: 17.5rem;
        transition: width 0.3s ease;
    }

nav {
    height: 100vh;
    width: 0;
    right: 0;
    position: absolute;
    background-color: #f4f4f4;
    transition: width 0.3s ease;
    overflow: auto;
}

    .nav-sup {
        display: flex;
        justify-content: space-between;
        background-color: #054C2A;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
    }

    .nav-sup div {
        display: flex;
    }

    .nav-sup div p {
        color: #f4f4f4;
        font-weight: bold;
        padding-top: 5px;
    }

    .nav-bot {
        height: 100%;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        
    }
    .nav-bot ul {
        margin: 0;
        padding: 0 1rem 0 1rem;
    }

    .nav-bot ul li {
        padding: 1rem 0 1rem 0;
    }

/* aqui empieza el main */
.front {
    height: 100dvh;
    background-image: url(/assets/front.png);
    background-size: cover;
    position: relative;
    z-index: -2;
}
    .front-title {
        position: fixed;
        padding-top: 60px;
        transition: transform 0.5s ease;
        z-index: -1;
    }
    .front-title h1 {
        display: flex;
        flex-direction: column;
        font-size: 4rem;
        padding: 10px;
        color: #f4f4f4;
    }
    .front-about {
        position: relative;
        top: 85vh;
    }
    .front-about a {
        color: #f4f4f4;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 30px;
        padding: 10px 20px;
        margin-left: 10px;
        font-weight: 800;
        opacity: 1;
        transition: visibility 0s, 0.5s linear;
    }

    .opacity {
        opacity: 30%;
        transition: opacity 0.5s ease;
    }
    .no-display {
        opacity: 0;
        transition: visibility 0s, 0.5s linear;
    }

/* aqui comienza el slide del main */
.gallery {
    height: 100dvh;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    overflow: hidden;
    background-color: #97c8b1;

}
.fp-scroll-mac .fp-overflow::-webkit-scrollbar {
    background-color: inherit;
    width: 9px;
}
.fp-scroll-mac .fp-overflow::-webkit-scrollbar-track {
    background-color: transparent;
}
.fp-scroll-mac .fp-overflow::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.4);
    border-radius: 16px;
    border: 4px solid transparent;
}
    .imgA {
        grid-area: 2 / 2 / 8 / 8;
    }

    .imgB {
        grid-area: 6 / 4 / 12 / 10;
    }

    .imgC  {
        grid-area: 13 / 2 / 20 / 8;
       
    }

    .imgNormalize {
        width: 100%;
    }
    .imgNormalize img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .palabraA {
        grid-area: 3 / 8 / 7 / 8;
        display: flex;
        transition: transform 0.5s ease;
        z-index: 1;
    
    }
    .palabraB {
        grid-area: 6 / 3 / 12 / 3;
        display: flex;
        transition: transform 0.5s ease;
    }
    .palabraB h2 {
        transform: rotate(180deg);
    }
    .palabraC {
        grid-area: 14 / 8 / 19 / 8;
        transition: transform 0.5s ease;
    }
    .palabraNormalize {
        padding-left: 5px;
        text-align: center;
        margin: 0;
        font-size: clamp(35px, -6.5915492958px + 9.7183098592vw, 180px);
        writing-mode: vertical-rl;
        color: #f4f4f4;
    }
    .palabraInicialize {
        transform: translateX(-100vw);
        transition: transform 0.5s ease;
    }
    .palabraInicializeReverse {
        transform: translateX(100vw);
        transition: transform 0.5s ease;
    }

/* aqui empieza el aside */
aside {
    height: 100dvh;
    background-color: bisque;
}
section{
    height: 100dvh;
    background-color: #156EA7;
}

/* arrow feature */
.front-arrow {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}

    .arrow {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: rotate(0deg);
        cursor: pointer;
    }

    .arrow span {
        display: block;
        width: 1.5vw;
        height: 1.5vw;
        border-bottom: 5px solid white;
        border-right: 5px solid white;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }

    .arrow span:nth-child(2) {
        animation-delay: -0.2s;
    }

    .arrow span:nth-child(3) {
        animation-delay: -0.4s;
    }

    @keyframes animate {
        0% {
            opacity: 0;
            transform: rotate(45deg) translate(-20px, -20px);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            transform: rotate(45deg) translate(20px, 20px);
        }
    }

.hide {
    display: none;
}
